@model G09projectenII.Models.ViewModels.ProfilePicViewModel

<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="@Model.ProfilePicPath" width="30" height="30" class="rounded-circle">
</a>