


* {
    /*-primary-blue: #0081C5;*/
    --primary-blue: #4049a9;
    --darker-blue: #2d3376;
    --secondary-yellow: #FFEA00;
    --light-blue: #898fd2;
    --lighter-blue: #ebebfa;
    --text-gray: #3C4043;
    --dark-gray: #212121;
    --light-gray: #DADCE0;
    --nearly-white: #F1F3F4;
    --header-font: "Raleway", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --text-font: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-family: var(--text-font);
}

.fc-head-container {
    border-bottom: 1px solid transparent !important;
}

.fc-day-header {
    font-variant: small-caps;
    font-weight: 400;
    font-size: .8rem;
    color: var(--text-gray);
}

.fc-day-number {
    width: 100%;
    text-align: center;
    font-size: .7rem;
    margin-bottom: .5rem;
    color: var(--text-gray);
}

.fc-bg .fc-today {
    background-color: var(--lighter-blue) !important;
    border: 1px solid var(--light-gray) !important;
}

.fc-toolbar .fc-left h2 {
    font-family: var(--header-font) !important;
    font-weight: 600;
}

.fc-day-grid-event .fc-content {
    color: white;
    white-space: normal;
}

.fc-day-grid-event:hover .fc-content {
    cursor: pointer;
}
/*
.fc-button-primary {
    background-color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
}

.fc-button-primary[disabled] {
    background-color: var(--light-blue);
    border: 1px solid var(--light-blue);
}

.fc-button-primary:hover:enabled {
    background-color: var(--darker-blue);
}
*/

.fc-next-button, .fc-prev-button {
    background-color: transparent;
    border: 0;
    color: #212121;
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0 .5rem;
    border-radius: 50% !important;
    justify-content: center;
}

    .fc-next-button:hover, .fc-prev-button:hover {
        background-color: var(--nearly-white);
        color: var(--text-gray);
    }

    .fc-next-button:active, .fc-prev-button:active {
        background-color: var(--nearly-white) !important;
        color: var(--text-gray) !important;
        border: 0;
    }

.fc-today-button {
    background-color: transparent;
    border: 1px solid var(--light-gray);
    color: var(--text-gray);
    padding: 5px;
    font-family: var(--text-font);
    font-size: 1rem;
}

    .fc-today-button:hover:enabled {
        background-color: var(--nearly-white);
        border: 1px solid var(--light-gray);
        color: var(--text-gray);
    }

    .fc-today-button:disabled {
        background-color: transparent;
        border: 1px solid lightgray;
        color: lightgray;
    }
