/* calendar */

#calendar {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.fc-head-container {
    border-bottom: 1px solid transparent !important;
}

.fc-day-header {
    font-variant: small-caps;
    font-weight: 400;
    font-size: .8rem;
    color: var(--text-gray);
}

.fc-day-number {
    width: 100%;
    text-align: center;
    font-size: .7rem;
    margin-bottom: .5rem;
    color: var(--text-gray);
}

.fc-bg .fc-today {
    background-color: var(--lighter-blue) !important;
    border: 1px solid var(--light-gray) !important;
}

.fc-toolbar .fc-left h2 {
    font-family: var(--header-font) !important;
    font-weight: 600;
}

.fc-day-grid-event .fc-content {
    color: white;
    white-space: normal;
}

.fc-event {
    background-color: var(--primary-blue) !important;
    border-color: var(--primary-blue) !important;
}

.fc-event:hover {
    background-color: var(--darker-blue) !important;
    border-color: var(--darker-blue) !important;
    cursor: pointer;
}

.fc-next-button, .fc-prev-button {
    background-color: transparent;
    border: 0;
    color: #212121;
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0 .5rem;
    border-radius: 50% !important;
    justify-content: center;
}

.fc-next-button:hover, .fc-prev-button:hover {
    background-color: var(--nearly-white);
    color: var(--text-gray);
}

.fc-next-button:active, .fc-prev-button:active {
    background-color: var(--nearly-white) !important;
    color: var(--text-gray) !important;
    border: 0;
}

.fc-today-button {
    background-color: transparent;
    border: 1px solid var(--light-gray);
    color: var(--text-gray);
    padding: 5px;
    font-family: var(--text-font);
    font-size: 1rem;
}

.fc-today-button:hover:enabled, .fc-today-button:active {
    background-color: var(--nearly-white) !important;
    border: 1px solid var(--light-gray) !important;
    color: var(--text-gray) !important;
}

.fc-today-button:disabled {
    background-color: transparent;
    border: 1px solid lightgray;
    color: lightgray;
}

/* session modal */

@media (min-width: 992px) {
    /*for larger devices, we can go wider*/
    .modal-dialog {
        max-width: 60vw;
    }
}

.modal-content {
    padding: 15px;
}

.modal-header, .modal-footer {
    border: 0;
}

.modal-header {
    font-family: var(--header-font);
    font-weight: bold;
    font-size: 1.5rem;
}

.modal-practical-info {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0 1.5rem 0;
}

.modal-practical-info .icon {
    display: inline-block;
    margin-right: 10px;
}

.modal-description .empty-description {
    color: var(--text-lighter-gray);
}

.modal-announcement h1 {
    font-family: var(--header-font);
    font-weight: bold;
    font-size: 1.1rem;
    margin: 2rem 0 1.5rem 0;
}

.modal-announcement img.profile-picture {
    object-fit: cover;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin-right: 0.8rem;
}

.modal-announcement .media-body {
    border-radius: 0px 30px 30px 30px;
    background: var(--nearly-white);
    padding: 1.2rem;
    display: flex;
}

.modal-announcement .organiser {
    color: black;
    margin-bottom: -0.3rem;
}

.modal-announcement .organiser-subtitle {
    color: var(--text-lighter-gray);
    margin-bottom: 0.5rem;
    size: 0.8rem;
    font-weight: 300;
}

.announcement-text {
    color: var(--text-gray)
}

.announcement-date {
    margin-left: 2rem;
    color: var(--text-lighter-gray);
}