/*calendar legend*/

#calendar-legend .legend-item {
    font-size: 1rem;
    text-transform: lowercase;
    font-variant: small-caps;
    color: var(--text-lighter-gray);
    margin-right: 2vw;
}
.legend-item > span {
    margin-right: .2rem;
}


/* calendar */

#calendar {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.fc-head-container {
    border-bottom: 1px solid transparent !important;
}

.fc-day-header {
    font-variant: small-caps;
    font-weight: 400;
    font-size: .8rem;
    color: var(--text-gray);
}

.fc-day-number {
    width: 100%;
    text-align: center;
    font-size: .7rem;
    margin-bottom: .5rem;
    color: var(--text-gray);
}

.fc-bg .fc-today {
    background-color: var(--lighter-blue) !important;
    border: 1px solid var(--light-gray) !important;
}

.fc-toolbar .fc-left h2 {
    font-family: var(--header-font) !important;
    font-weight: 600;
}

.fc-day-grid-event .fc-content {
    color: white;
    white-space: normal;
}

@media (max-width: 576px) {
    .fc-day-grid-event .fc-content {
        font-size: .5rem;
        white-space: nowrap;
    }
}

.fc-event:hover {
    filter: brightness(.95);
    cursor: pointer;
}

.fc-next-button, .fc-prev-button {
    background-color: transparent;
    border: 0;
    color: #212121;
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0 .5rem;
    -ms-border-radius: 50% !important;
    border-radius: 50% !important;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.fc-next-button:hover, .fc-prev-button:hover {
    background-color: var(--nearly-white);
    color: var(--text-gray);
}

.fc-next-button:active, .fc-prev-button:active {
    background-color: var(--nearly-white) !important;
    color: var(--text-gray) !important;
    border: 0;
}

.fc-today-button {
    background-color: transparent;
    border: 1px solid var(--light-gray);
    color: var(--text-gray);
    padding: 5px;
    font-family: var(--text-font);
    font-size: 1rem;
}

.fc-today-button:hover:enabled, .fc-today-button:active {
    background-color: var(--nearly-white) !important;
    border: 1px solid var(--light-gray) !important;
    color: var(--text-gray) !important;
}

.fc-today-button:disabled {
    background-color: transparent;
    border: 1px solid lightgray;
    color: lightgray;
}

    .fc-today-button:disabled {
        background-color: transparent;
        border: 1px solid lightgray;
        color: lightgray;
    }

.fc-day-grid-container.fc-scroller {
    height: auto !important;
    overflow-y: auto;
}

/* session modal */

@media (min-width: 992px) {
    /*for larger devices, we can go wider*/
    .modal-dialog {
        max-width: 60vw;
    }
}

.modal-content {
    padding: 15px;
}

.modal-header, .modal-footer {
    border: 0;
}

.modal-header {
    font-family: var(--header-font);
    font-weight: bold;
    font-size: 1.5rem;
}


.modal-practical-info > div {
     margin-bottom: 1.5rem;
}

.modal-practical-info .icon {
    display: inline-block;
    margin-right: 10px;
}

.modal-description .empty-description {
    color: var(--text-lighter-gray);
}

.modal-announcement h1 {
    font-family: var(--header-font);
    font-weight: bold;
    font-size: 1.1rem;
    margin: 2rem 0 1.5rem 0;
}

.modal-announcement img.profile-picture {
    -webkit-object-fit: cover;
    object-fit: cover;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin-right: 0.8rem;
}

.modal-announcement .media-body {
    -ms-border-radius: 0px 30px 30px 30px;
    border-radius: 0px 30px 30px 30px;
    background: var(--nearly-white);
    padding: .5rem 1.2rem 1.2rem 1rem;
    display: block;
    font-size: 0.85rem;
}

.modal-announcement .body-top {
        display: flex;
    justify-content: space-between;
}

.modal-announcement .organiser .name {
    font-weight: 500;
    color: var(--primary-blue);
    margin-bottom: -0.3rem;
}

.modal-announcement .organiser-subtitle {
    color: var(--text-lighter-gray);
    margin-bottom: 0.4rem;
    size: 0.8rem;
    font-weight: 300;
}

.announcement-title {
    color: black;
    margin-bottom: 0.2rem;
    font-weight: 500;
}

.announcement-text {
    color: var(--text-gray)
}

.announcement-date {
    margin-left: 2rem;
    color: var(--text-lighter-gray);
}

.modal-extra-info {
    display: flex;
    margin-top: 1rem;
    color: var(--text-lighter-gray);
}

.modal-extra-info div {
    margin-right: 1rem;
}

.modal-footer {
    -o-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    display: flex;
}
.register {
    display: flex;
    flex-direction: row;
}

.register button {
    z-index: 99;
}

.not-logged-in-register span, .not-logged-in-session-free-spaces {
    margin-left: .2rem;
}

.session-free-spaces {
    margin-left: -10px;
    display: block;
    border-radius: 5px;
    background: var(--nearly-white);
    padding: 0.5rem;
    padding-left: 1.2rem;
    color: var(--gray)
}

.badge-attendance {
    padding: .2rem .5rem;
}

.badge-attended {
    color: var(--success);
    border: 1px solid var(--success);
}

.badge-not-attended {
    color: var(--danger);
    border: 1px solid var(--danger);
}


.toast {
    position: fixed;
    bottom: 2rem;
    right: 5rem;
    z-index: 99;
}


@media (max-width: 576px) {
    .toast {
        bottom: 5rem;
        left: 50%;
        transform: translate(-50%, 0);
        width: 90vw;
    }
}
