
.panel {
    border-bottom: 1px solid var(--light-gray);
    padding: .7rem 0;
}

.panel-heading {
    display: flex;
    flex-direction: row;
    border: 0;
    background: none;
}

.panel-heading a:not(.btn) {
    color: var(--text-gray);
    font-size: 1rem;
    text-decoration: none;
    width: 100%;
}

.panel-heading .session-date {
    -o-order: 0;
    -webkit-order: 0;
    order: 0;
    margin-top: .3rem;
    font-size: .7rem;
    color: var(--text-lighter-gray);
    text-transform: uppercase;
    float: left;
    width: 5rem;
}

.panel-heading .session-time {
    -o-order: 1;
    -webkit-order: 1;
    order: 1;
    font-size: .7rem;
    margin-left: .5rem;
    color: var(--text-lighter-gray);
    width: 4rem;
}

.panel-heading .session-title {
    display: inline-block;
    -o-order: 2;
    -webkit-order: 2;
    order: 2;
    margin-left: 2rem;
}

@media(max-width: 992px) {
    .panel-heading .session-title {
        width: fit-content;
        max-width: 35vw;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}

@media(max-width: 768px) {
    .panel-heading .session-title {
        max-width: 27vw;
    }
}

@media(max-width: 576px) {
    .panel-heading .session-title {
        max-width: fit-content;
    }
}

.panel-heading .session-state {

    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    margin-left: .5rem;
}

.panel-heading .right {
    -o-order: 3;
    -webkit-order: 3;
    order: 3;
    display: flex;
    flex-direction: row;
    float: right; /*TODO This makes the body jitter tho...*/
}

 
.panel-heading .session-state-change {
    margin-right: 1rem;
    padding: .2rem .4rem;
}

@media(max-width: 768px) {
    .panel-heading .session-state {
        transform: scale(.7);
        margin-right: .5rem;
    }

    .panel-heading .session-state-change {
        transform: scale(.7);
        margin-right: .5rem;
    }
}

.panel-heading i {
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.panel-heading.active i {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.session-state {
    color: white;
    font-weight: 400;
}

.session-state.state0 {
    color: var(--primary);
    border: 1px solid var(--primary);
}

.session-state.state1 {
    color: var(--success);
    border: 1px solid var(--success);
}

.session-state.state2 {
    color: var(--warning);
    border: 1px solid var(--warning);
}

.session-state.state3 {
    color: var(--danger);
    border: 1px solid var(--danger);
}


.panel-body {
    padding-left: 9.5rem;
    padding-right: 4.7rem;
}

.panel-body .session-description {
    margin-top: 1rem;
    font-size: .8rem;
}

.panel-body .session-description b{
    font-weight: 600;
}

.panel-body .session-practical-info {
    color: var(--text-lighter-gray);
}

.panel-body .session-practical-info i {
    margin-right: 5px;
}

.panel-body .session-location {
    margin-right: 1rem;
}
