
#session-wrapper {
    margin: inherit;
}

section {
    margin-bottom: 3rem;
}

section .content>div {
    margin-bottom: 1.5rem;
}

section header {
    font-family: var(--header-font);
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.share {
    font-size: .5rem;
    padding: .2rem .5rem;
}

.session-practical-info > div {
    margin-bottom: 1.5rem;
}

.session-practical-info .icon {
    display: inline-block;
    margin-right: 10px;
}

.session-description {
    font-size: .9rem;
    text-align: justify;
}

.session-description .empty-description {
    color: var(--text-lighter-gray);
}

.session-extra-info {
    float: left;
    color: var(--text-lighter-gray);
    margin: 0 !important;
}

@media (min-width: 576px) {
    .register, .attendance, .not-logged-in-register {
        float: right;
    }
}

@media (max-width: 576px) {
    .register, .attendance, .not-logged-in-register {
        width: 100%;
        margin-top: 5rem;
    }
}

.register, .attendance {
    /*float: right;*/
    display: flex;
    flex-direction: row;
}

    .register button {
        z-index: 99;
    }

.not-logged-in-register span{
    display: inline-block;
    margin-left: .2rem;
}

.session-free-spaces {
    margin-left: -10px;
    display: block;
    border-radius: 5px;
    background: var(--nearly-white);
    padding: 0.5rem;
    padding-left: 1.2rem;
    color: var(--gray)
}

.badge-attendance {
    padding: 0.5rem;
    margin-left: 0.5rem;
}

.badge-attended {
    color: var(--success);
    border: 1px solid var(--success);
}

.badge-not-attended {
    color: var(--danger);
    border: 1px solid var(--danger);
}

.attendance {
    border-radius: 5px;
    padding: 0.3rem;
    background-color: var(--nearly-white)
}


.session-state {
    color: white;
    font-weight: 400;
    transform: scale(.6);
}

.session-state.state0 {
    color: var(--primary);
    border: 1px solid var(--primary);
}

.session-state.state1 {
    color: var(--success);
    border: 1px solid var(--success);
}

.session-state.state2 {
    color: var(--warning);
    border: 1px solid var(--warning);
}

.session-state.state3 {
    color: var(--danger);
    border: 1px solid var(--danger);
}


.absent-icon {
    color: var(--danger);
}

.attended-icon {
    color: var(--success);
}

/*
    ANNOUNCEMENTS
*/

.announcement {
    margin-bottom: 1rem;
}

.announcement img.profile-picture {
    -webkit-object-fit: cover;
    object-fit: cover;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin-right: 0.8rem;
}

.announcement .media-body {
    -ms-border-radius: 0px 30px 30px 30px;
    border-radius: 0px 30px 30px 30px;
    background: var(--nearly-white);
    padding: .5rem 1.2rem 1.2rem 1rem;
    display: block;
    font-size: 0.85rem;
}

.announcement .body-top {
    display: flex;
    justify-content: space-between;
}

.announcement .organiser .name {
    font-weight: 500;
    color: black;
    margin-bottom: -0.3rem;
}

.announcement .organiser-subtitle {
    color: var(--text-lighter-gray);
    margin-bottom: 0.5rem;
    size: 0.8rem;
    font-weight: 300;
}

.announcement-text {
    color: var(--text-gray)
}

.announcement-date {
    margin-left: 2rem;
    color: var(--text-lighter-gray);
}