

* {
    /*-primary-blue: #0081C5;*/
    --primary-blue: #4049a9;
    --darker-blue: #2d3376;
    --secondary-yellow: #FFEA00;
    --light-blue: #898fd2;
    --lighter-blue: #ebebfa;
    --text-gray: #3C4043;
    --dark-gray: #212121;
    --text-lighter-gray: #808080;
    --light-gray: #DADCE0;
    --nearly-white: #F1F3F4;
    --header-font: "Raleway", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --text-font: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-family: var(--text-font);
}

nav {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}


/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-blue) ;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}



/*
    OWN STYLES
*/


.nav-facebook-button {
    background-color: transparent;
    border: 1px solid var(--light-gray);
    color: var(--text-gray);
    padding: 5px;
    font-family: var(--text-font);
    font-size: .7rem;
    margin: .5rem .5rem 0 0;
}

    .nav-facebook-button:hover, .nav-facebook-button:active {
        background-color: var(--nearly-white) !important;
        border: 1px solid var(--light-gray) !important;
        color: var(--text-gray) !important;
    }

.nav-logo {
    width: 1.2rem;
    height: 1.2rem;
    margin-bottom: 5px;
    margin-right: 5px;
}

.brand-text {
    color: var(--primary-blue);
    font-family: "Comfortaa", var(--text-font);
    font-weight: 700;
}

h2 {
    font-family: var(--header-font);
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
}
