
@{
    ViewData["Title"] = "Geen Toegang";
}
<link rel="stylesheet" href="~/css/accessDenied.css" />

<img src="~/img/401.jpg" />
<h1>Geen Toegang</h1>
<h3>Oei, wat doe jij hier?</h3>
<a href="~/">Terug naar het hoofdscherm</a>